In [22]:
#Dependecies
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
#Import CSV file
emission = pd.read_csv("ghg-emissions.csv")

In [24]:
emission.head()

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,...,9046.19,9872.37,10364.83,10690.04,11144.76,11155.76,11149.68,11207.66,11408.26,11705.81
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,...,5793.66,6041.59,5796.78,5550.87,5690.79,5711.15,5586.69,5676.92,5613.64,5794.35
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,...,2467.78,2576.93,2610.32,2758.53,2816.49,2988.34,3002.17,3073.24,3202.82,3346.63
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,...,1575.54,1690.93,1864.86,1886.41,1844.48,1841.26,1791.21,1918.26,1939.26,1992.08
4,Indonesia,MtCO2e,1257.1,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,...,1483.61,1125.25,1675.72,1695.27,1636.17,2016.28,2070.24,1453.23,1466.05,1703.86

In [29]:
#clean data by dropping the uni columns
#clean data by removing rows with no countries or data (dropNA)
clean = emission.drop(columns=["unit"])
emission_df = clean.dropna()

emission_df

,Country/Region,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,China,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,...,9046.19,9872.37,10364.83,10690.04,11144.76,11155.76,11149.68,11207.66,11408.26,11705.81
1,United States,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,...,5793.66,6041.59,5796.78,5550.87,5690.79,5711.15,5586.69,5676.92,5613.64,5794.35
2,India,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,...,2467.78,2576.93,2610.32,2758.53,2816.49,2988.34,3002.17,3073.24,3202.82,3346.63
3,Russia,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,...,1575.54,1690.93,1864.86,1886.41,1844.48,1841.26,1791.21,1918.26,1939.26,1992.08
4,Indonesia,1257.1,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,...,1483.61,1125.25,1675.72,1695.27,1636.17,2016.28,2070.24,1453.23,1466.05,1703.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Kiribati,0.04,0.04,0.04,0.05,0.04,0.05,0.05,0.05,0.05,...,0.08,0.08,0.08,0.08,0.09,0.09,0.09,0.10,0.10,0.11
189,Cook Islands,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.05,0.05,...,0.07,0.07,0.08,0.08,0.08,0.08,0.08,0.09,0.09,0.10
190,Nauru,0.13,0.13,0.13,0.12,0.12,0.11,0.11,0.11,0.11,...,0.05,0.05,0.05,0.05,0.05,0.06,0.06,0.07,0.07,0.08
191,Tuvalu,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03
192,Niue,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01

In [74]:
#swap the column and rows for charting puposes
emission_T = emission_df.transpose()
#rename transposed column heading to make more sense.
emission_T = emission_T.rename({"Country/Region": "Year"})
#make the first row the new header for the index
emission_T.columns = (emission_T.iloc[0])
emission_T
#drop first row after renaming index
emission_C = emission_T.drop(emission_T.index[0])
emission_C

Year,China,United States,India,Russia,Indonesia,Brazil,Japan,Iran,Germany,Canada,...,Fiji,Micronesia,Marshall Islands,Dominica,Liechtenstein,Kiribati,Cook Islands,Nauru,Tuvalu,Niue
1990,2873.71,5543.47,1009.44,2885.12,1257.1,1642.29,1109.37,240.54,1109.28,626.36,...,-0.72,FALSE,FALSE,0.24,0.25,0.04,0.03,0.13,0.02,0.01
1991,3023.38,5501.92,1064.49,2788.7,1274.43,1669.56,1123.86,280.88,1079.69,622.29,...,-0.7,-0.02,0.03,0.24,0.25,0.04,0.03,0.13,0.02,0.01
1992,3154.54,5583.8,1096.71,2551.94,1295.01,1679.5,1137.15,301.84,1032.01,638.22,...,-0.65,0.09,0.11,0.26,0.26,0.04,0.03,0.13,0.02,0.01
1993,3377.79,5691.26,1128.44,2294.62,1311.27,1689.7,1129.63,300.14,1024.31,636.25,...,-0.59,0.09,0.11,0.26,0.26,0.05,0.03,0.12,0.02,0.01
1994,3528.81,5782.2,1174.78,2011.47,1327.87,1706.03,1186.79,332.67,1011.41,656.82,...,-0.54,0.1,0.12,0.26,0.25,0.04,0.03,0.12,0.02,0.01
1995,3918.3,5843.9,1240.44,1930.88,1360.88,1726.08,1201.85,349.89,1004.79,672.53,...,-0.48,0.16,0.12,0.27,0.25,0.05,0.04,0.11,0.02,0.01
1996,3954.75,6010.62,1289.63,1889.18,1179.0,1735.71,1215.95,364.14,1032.92,696.88,...,-0.43,0.16,0.12,0.24,0.26,0.05,0.04,0.11,0.02,0.01
1997,3963.61,6258.47,1348.09,1755.59,2142.82,1766.32,1203.81,381.58,994.92,709.57,...,-0.43,0.16,0.12,0.25,0.27,0.05,0.05,0.11,0.02,0.01
1998,4103.23,6293.8,1382.26,1740.23,1373.56,1800.62,1156.66,389.67,968.6,726.1,...,-0.47,0.17,0.13,0.25,0.28,0.05,0.05,0.11,0.02,0.01
1999,4053.37,6291.25,1460.24,1772.68,1261.56,1810.51,1182.31,427.53,934.16,723.75,...,-0.5,0.17,0.13,0.25,0.28,0.05,0.05,0.1,0.02,0.01
2000,4249.7,6446.2,1498.2,1831.09,1191.82,1807.03,1198.54,446.36,924.72,739.69,...,-0.47,0.17,0.13,0.26,0.27,0.05,0.04,0.09,0.02,0.01
2001,4459.91,6406.04,1747.49,1455.44,1019.35,1901.78,1153.99,439.25,973.21,962.37,...,-0.21,0.19,0.14,0.21,0.27,0.05,0.06,0.09,0.02,0.01
2002,4769.03,6246.95,1769.79,1477.17,1500.98,1935.36,1185.65,463.93,954.76,981.04,...,-0.37,0.18,0.15,0.18,0.28,0.06,0.05,0.08,0.02,0.01
2003,5386.89,6306.12,1817.42,1556.63,1167.69,1948.37,1193.4,493.23,953.66,1000.48,...,-0.24,0.2,0.15,0.19,0.29,0.07,0.06,0.08,0.02,0.01
2004,6135.95,6387.22,1905.13,1601.63,1517.02,1995.86,1185.28,530.16,933.79,995.19,...,0.17,0.2,0.16,0.21,0.29,0.08,0.06,0.07,0.02,0.01
2005,6862.81,6401.12,1977.76,1608.1,1242.7,2004.36,1186.26,569.0,909.39,1006.64,...,-0.02,0.2,0.17,0.22,0.29,0.09,0.07,0.08,0.02,0.01
2006,7547.54,6306.81,2073.67,1682.12,1655.23,1994.55,1164.29,617.12,915.88,992.64,...,0.05,0.18,0.17,0.23,0.29,0.1,0.07,0.05,0.02,0.01
2007,8165.43,6397.67,2219.62,1690.16,1100.24,2029.48,1200.21,655.51,886.8,1023.93,...,-0.05,0.18,0.18,0.24,0.27,0.08,0.07,0.05,0.02,0.01
2008,8455.65,6220.21,2317.48,1727.25,1087.94,2030.84,1133.32,669.06,889.47,999.57,...,-0.34,0.16,0.17,0.24,0.29,0.09,0.07,0.05,0.02,0.01
2009,9046.19,5793.66,2467.78,1575.54,1483.61,2008.85,1073.57,693.31,832.31,962.46,...,-0.34,0.18,0.17,0.56,0.27,0.08,0.07,0.05,0.02,0.01
2010,9872.37,6041.59,2576.93,1690.93,1125.25,2104.61,1130.13,699.33,862.97,975.84,...,-0.18,0.16,0.18,0.24,0.26,0.08,0.07,0.05,0.02,0.01
2011,10364.83,5796.78,2610.32,1864.86,1675.72,1270.59,1235.29,750.7,823.34,825.24,...,-0.18,0.17,0.18,0.23,0.21,0.08,0.08,0.05,0.02,0.0
2012,10690.04,5550.87,2758.53,1886.41,1695.27,1311.58,1277.48,761.05,837.46,830.07,...,-0.2,0.18,0.18,0.31,0.22,0.08,0.08,0.05,0.02,0.0
2013,11144.76,5690.79,2816.49,1844.48,1636.17,1335.02,1289.0,781.95,854.7,841.21,...,-0.04,0.19,0.18,0.23,0.23,0.09,0.08,0.05,0.02,0.0
2014,11155.76,5711.15,2988.34,1841.26,2016.28,1372.79,1251.32,794.19,814.43,848.12,...,0.2,0.19,0.19,0.24,0.2,0.09,0.08,0.06,0.02,0.01
2015,11149.68,5586.69,3002.17,1791.21,2070.24,1354.28,1215.33,786.5,818.22,844.67,...,-0.17,0.2,0.19,0.24,0.19,0.09,0.08,0.06,0.02,0.01
2016,11207.66,5676.92,3073.24,1918.26,1453.23,1443.98,1225.67,796.03,820.7,731.11,...,0.07,0.22,0.22,0.24,0.19,0.1,0.09,0.07,0.02,0.01
2017,11408.26,5613.64,3202.82,1939.26,1466.05,1461.43,1203.32,814.79,803.18,745.74,...,0.19,0.23,0.22,0.22,0.19,0.1,0.09,0.07,0.03,0.01
2018,11705.81,5794.35,3346.63,1992.08,1703.86,1420.58,1154.72,828.34,776.61,763.44,...,0.28,0.24,0.24,0.23,0.18,0.11,0.1,0.08,0.03,0.01